/**
* @Author: Jose Manuel Periban Palacios <P5YCH0D3>
* @Date:   2017-02-15T13:54:48-08:00
* @Email:  ANON.P5YCH0D3@gmail.com
* @Last modified by:   P5YCH0D3
* @Last modified time: 2017-02-24T16:40:43-08:00
*/

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;

}

.backgroundImage {
    width: 100%;
    height: 100%;
    position: absolute;;
    background-color: rgb(245, 241, 222);
    background-image: url("../resources/background.png");
    background-size: cover;
    opacity: 0.43;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/* Speakers List */

.speakerslist {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 25%;
    border-style: solid;
    border-width: thin;
}


/* Dropdown Menu */

.dropdown {
    position: relative;
    left: 10%;
    top: 5%;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: rgba(121, 123, 167, 0.13);
    width: 80%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

.dropdown-content button {
    color: black;
    background-color: rgba(226, 217, 217, 0.86) padding: 3% 0%;
    width: 100%;
    overflow: auto;
    text-decoration: none;
    display: inline-block;
    position: static;
    left: 25%;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}


/* END Menu */

.dropInp {}

#dropID {
    position: relative;
    top: 10%;
    left: 20%;
}


/* Speaker Table*/

#speakerTable {
    position: absolute;
    top: 10%;
    left: 1%;
    z-index: -1;
}

#speakerTable th {
  font-size: 200%;
}

/* END Speaker Table */


/* Name */

#names {
    position: fixed;
    top: 0%;
    left: 25%;
    right: 25%;
    height: 40%;
    width: 50%;
    border-style: solid;
    border-width: thin;
}

#nameOfComL {
    position: absolute;
    left: 10%;
    top: 5%;
}

#nameOfComIn {
    position: absolute;
    left: 25%;
    top: 5%;
}

#nameOfChairL {
    position: absolute;
    left: 10%;
    top: 20%;
}

#nameOfChairIn {
    position: absolute;
    left: 25%;
    top: 20%;
}

#nameOfViceChairL {
    position: absolute;
    left: 10%;
    top: 35%;
}

#nameOfViceChairIn {
    position: absolute;
    left: 25%;
    top: 35%;
}

#nameOfModL {
    position: absolute;
    left: 10%;
    top: 50%;
}

#nameOfModIn {
    position: absolute;
    left: 25%;
    top: 50%;
}

#namesBtn {
    position: absolute;
    left: 25%;
    top: 65%;
}

#nameofCom {
    margin: auto;
    margin-top: 5%;
    display: table;
    font-weight: 500;
    font-size: 400%;
}

#nameofChair {
    display: table;
    margin: auto;
    margin-top: 5%;
    font-size: 250%;
    font-style: italic;
    font-weight: bold;
}

#nameofViceChair {
    display: table;
    margin: auto;
    float: left;
    margin-left: 5%;
    font-size: 200%;
    font-style: italic;
}

#nameofMod {
    display: table;
    margin: auto;
    float: right;
    margin-right: 5%;
    font-size: 200%;
    font-style: italic;
}


/* Schedule */

#schedule {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 75%;
    width: 25%;
    height: 100%;
    border-style: solid;
    border-width: thin;
}

#schedule h1 {
    position: relative;
    left: 20%;
}

#schedule h2 {
  position: relative;
    font-size: 190%;
    left: 1%;
    right: 5%;
}


/* Timer */

#timer {
    position: fixed;
    top: 40%;
    bottom: 0%;
    left: 25%;
    right: 40%;
    width: 50%;
    height: 60%;
    border-style: solid;
    border-width: thin;
}

#timer h1 {
    position: absolute;
    font-size: 250%;
    left: 5%;
    top: 0.1%;
}

#speakerTimerL {
    position: absolute;
    font-size: 190%;
    left: 2%;
    top: 27%;
    font-weight: bold;
}

#minTS {
    position: absolute;
    font-size: 260%;
    font-family: monospace;
    font-weight: 800;
    left: 22%;
    top: 18%;
    height: 25%;
    width: 10%;
}

#minTSL {
    position: absolute;
    font-style: italic;
    left: 22%;
    top: 46%;
}

#sCL {
  position: absolute;
  font-size: 600%;
  font-weight: bold;
  left: 35%;
  top: 18%;
}

#secTS {
    position: absolute;
    font-size: 260%;
    font-family: monospace;
    font-weight: 800;
    left: 42%;
    top: 18%;
    height: 25%;
    width: 10%;
}

#secTSL {
    position: absolute;
    font-style: italic;
    left: 45.4%;
    top: 46%;
}

#startTs {
    position: absolute;
    left: 60%;
    top: 29%;
    width: 10%;
    height: 5%;
}

#stopTs {
    position: absolute;
    left: 60%;
    top: 29%;
    width: 10%;
    height: 5%;
}

#resetTs {
    position: absolute;
    left: 73%;
    top: 29%;
    width: 10%;
    height: 5%;
}

#commentTimerL {
    position: absolute;
    font-size: 190%;
    left: 1.5%;
    top: 70%;
    font-weight: bold;
}

#minTC {
    position: absolute;
    font-size: 260%;
    font-family: monospace;
    font-weight: 800;
    left: 25%;
    top: 60%;
    height: 25%;
    width: 10%;
}

#minTCL {
    position: absolute;
    font-style: italic;
    left: 26%;
    top: 88%;
}

#cCL {
  position: absolute;
  font-size: 600%;
  font-weight: bold;
  left: 38%;
  top: 60%;
}

#secTC {
    position: absolute;
    font-size: 260%;
    font-family: monospace;
    font-weight: 800;
    left: 45%;
    top: 60%;
    height: 25%;
    width: 10%;
}

#secTCL {
    position: absolute;
    font-style: italic;
    left: 46%;
    top: 88%;
}

#startTc {
    position: absolute;
    left: 60%;
    top: 71%;
    width: 10%;
    height: 5%;
}

#stopTc {
    position: absolute;
    left: 60%;
    top: 71%;
    width: 10%;
    height: 5%;
}

#resetTc {
    position: absolute;
    left: 73%;
    top: 71%;
    width: 10%;
    height: 5%;
}
